.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    background: #dda6b7;
    color: #ffffffa6;
    font-family: "Roboto", sans-serif;
}

input {
    background: border-box;
    color: #ffffffa6;
    border-top: none;
    width: 200px;
    padding: 5px;
}

button {
    background: content-box;
    color: #ffffffa6;
    border: none;
}

.App {
    text-align: center;
}

.container {
    text-align: center;
    width: 500px;
    margin: auto;
}

h1 {
    font-size: xx-large;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(230, 190, 190);
    color: rgb(255, 255, 255);
}

input,
li {
    font-size: large;
    color: brown;
    border: 1px solid rgb(238, 228, 210);
    list-style-type: none;
}

button {
    color: rgb(112, 4, 4);
    background-color: blanchedalmond;
    position: fixed;
    float: right;
    text-align: right;
    right: 10%;
}

.addButton {
    float: none;
}

.toDoList {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    height: 200px
}